<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donorsanddrives">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:fullBackupContent="false"
        android:icon="@drawable/android_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/android_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditProfileActivity"></activity>
        <activity android:name=".DoctorChangeUsername" />
        <activity android:name=".DoctorChangePassword" />
        <activity android:name=".Appointments" />
        <activity android:name=".managerAcc" />
        <activity android:name=".deleteManagerAcc" />
        <activity android:name=".editManagerAcc" />
        <activity android:name=".viewManagerAcc" />
        <activity android:name=".managerMain" />
        <activity android:name=".searchManagerId" />
        <activity android:name=".managerAccSuccess" />
        <activity android:name=".managerUser" />
        <activity android:name=".createManagerAcc" />
        <activity android:name=".deleteDocAcc" />
        <activity android:name=".editDocAcc" />
        <activity android:name=".viewDocAcc" />
        <activity android:name=".docMain" />
        <activity
            android:name=".searchDocId"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".docAccSuccess" />
        <activity android:name=".docUser" />
        <activity android:name=".createDocAcc" />
        <activity android:name=".doctor_acc" />
        <activity android:name=".manage_accs" />
        <activity android:name=".admin_home" />
        <activity android:name=".accEditSuccess" />
        <activity android:name=".viewMedicalDetails" />
        <activity android:name=".profile" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".userAgree" />
        <activity android:name=".editDonAcc" />
        <activity android:name=".viewDonHistory" />
        <activity android:name=".donQuiz" />
        <activity android:name=".donAccSuccess" />
        <activity android:name=".donUser" />
        <activity android:name=".createDonAcc" />
        <activity android:name=".viewDonLead" />
        <activity android:name=".viewBloodDrives" />
        <activity android:name=".donorHome" />
        <activity android:name=".DoctorMapsActivity" />
        <activity android:name=".DoctorHome" />
        <activity android:name=".Campaign" />
        <activity android:name=".SearchDoc" />
        <activity android:name=".ViewProfileDoctor" />
        <activity
            android:name=".MainActivity2"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>